<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet. Sit delectus animi vel quia nulla sit alias
        dolor ab voluptas unde ea reprehenderit expedita et rerum pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Sit delectus animi vel quia nulla sit alias
        dolor ab voluptas unde ea reprehenderit expedita et rerum pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Sit delectus animi vel quia nulla sit alias
        dolor ab voluptas unde ea reprehenderit expedita et rerum pariatur.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
